<div class="food-view">
<h1 class="welcome text-center">Welcome to the Recipes Page</h1>
<div class="d-flex justify-content-end ">
<%= link_to 'Add Recipe', new_user_recipe_path(user_id: current_user.id), class: "btn btn-dark" %>
</div>

<% @recipes.each do |recipe| %>
  <div class="col-md-4 card card-strip d-flex flex-row justify-content-around align-items-center p-3 mb-3" style="margin-left: 30rem">
    <div class="d-flex flex-column">
      <h3><%= link_to user_recipe_path(current_user.id, recipe.id) do %><%=recipe.name%> <%=recipe.id%></h3>
      <%end%>
      <% if can? :manage, recipe %>
        <%= button_to "Remove", user_recipe_path(current_user.id, recipe.id), method: :delete, data: {turbo: false}, class: "btn btn-danger mt-3" %>
      </div>
    <% end %>
    <div style="width: 250px">
        <p ><%=recipe.description%> </p>
    </div>
    </div>
  <% end %><br />
</div>

